<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue.js 3 - CDN -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Veu Website</title>
</head>
<body>
    <h1>My first Vue Project</h1>
    
    <!-- Mounting the Vue App- The Vue app only works within this div with an id of app -->
    <div id="app">
    <div v-if="showBooks">
        <h2>{{ title }} - {{ second }} - {{age}}</h2>
    </div>

    <!-- The button function below either shows or hides books outputs -->
    <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
    &nbsp;
    <!-- The below v-if statement will output the ShowBooks option on the button to display books, Or for short use (<span v-else>Show Books</span>) instead. -->
        <span v-if="!showBooks">Show Books</span>
    </button>
    <br>
    <div v-show="showBooks">Currently showing books</div>
    </div>

    <script src="script.js"></script>
</body>
</html>